@import url(https://fonts.googleapis.com/css?family=Nunito);

/* Global rules */
body {
  font-family: "Nunito", sans-serif;
}

/* Header rules */
#site-header {
  padding: 30px 0;
}

/* Footer rules */
#site-footer {
  padding: 30px 0;
}
