@import url(https://fonts.googleapis.com/css?family=Nunito);
/* Global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f3d250;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  color: black;
  font-size: 1.5rem;
  transition: 0.2s;
  text-decoration: none;
}
a:active {
  font-weight: bold;
  color: #f78888;
}
a:hover {
  font-weight: bold;
  color: #f3d250;
}

.heading {
  margin: 40px 0;
}

main {
  padding-top: 82px;
}

/* Header rules */
#site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ececec;
  padding: 25px 0;
}
#site-header nav .container {
  display: flex;
  justify-content: space-evenly;
}

/* Homepage rules */
main .home.container {
  display: flex;
  justify-content: center;
}

/* Cat pages rules */
main .cat.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .cat.container .image-container .image {
  max-width: 400px;
  margin: 10px 0;
}
main .cat.container .image-container .image img {
  max-width: 100%;
  border-radius: 10px;
}

/* Prisk-specific rules */
.prisk {
  background-color: #5da2d5;
}

/* Zelda-specific rules */
.zelda {
  background-color: #f78888;
}

/* Footer rules */
#site-footer {
  background-color: #ececec;
  padding: 25px 0;
}
#site-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
