/* Global rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: $theme-color-3;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    color: black;
    font-size: 1.5rem;
    transition: 0.2s;
    text-decoration: none;

    &:active {
        font-weight: bold;
        color: $theme-color-2;
    }

    &:hover {
        font-weight: bold;
        color: $theme-color-3;
    }
}

.heading {
    margin: 40px 0;
}

main {
    padding-top: 82px;
}