/* Footer rules */

#site-footer {
    background-color: $theme-color-1;
    padding: 25px 0;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}