/* Footer rules */

#site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $theme-color-1;
    padding: 30px 0;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}