/* Header rules */

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    
    background-color: $theme-color-1;
    padding: 25px 0;

    nav {
        .container {
            display: flex;
            justify-content: space-evenly;
        }
    }
}